*.pdf
*.png
*.docx
*.cmd*
*.log
*.prj
*.lso
*.syr
*.xsr
*.xrpt
*.xml
*.ref
*.xst
xst
*.stx
*.xmsgs
*.gise
*.xise
*.wdb
*.ini
*.html
isim
iseconfig
*.exe
ModelSim*
*.zip
*.rar
*.bin
Zip
*.mti
*.mpf
*.qdb
*.qpg
*.bak

